<h1>Mapa google</h1>
<p>Można dodawać do niej znaczniki, które są zapisywane i przechowywane po stronie serwera</p>
<hr />
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoom]="zoom"
         [disableDefaultUI]="false"
         [zoomControl]="false"
         (mapClick)="mapClicked($event, description.value)">
  <agm-marker *ngFor="let m of markers; let i = index"
              (markerClick)="clickedMarker(m.label, i)"
              [latitude]="m.lat"
              [longitude]="m.lng"
              [label]="m.label"
              [markerDraggable]="m.draggable"
              (dragEnd)="markerDragEnd(m, $event)"
              [title]="m.title">
    <agm-info-window>
      <strong>Spot firmy: {{m.label}}<br />Koordynaty: {{m.lat}}, {{m.lng}}<br />Opis: {{m.title}}</strong>
    </agm-info-window>
  </agm-marker>
  <agm-circle [latitude]="lat" [longitude]="lng"
              [radius]="5000"
              [fillColor]="'red'"
              [circleDraggable]="true"
              [editable]="true">
  </agm-circle>
</agm-map>
<hr />
<div class="container">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="title">Opis znacznika</label>
        <input type="text" class="form-control" id="description" #description>
      </div>
    </form>
  </div>
</div>
