<div class="container">
  <div [hidden]="submitted">
    <h1>Zaloguj się</h1>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" class="form-control" id="login" required #login>
        </div>
        <div class="form-group">
          <label for="name">Hasło</label>
          <input type="password" class="form-control" id="password" required #password>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit(login.value, password.value)">Submit</button>
      </form>
    </div>
  </div>
  <div [hidden]="!submitted">
    <h1>Witaj {{ login.value }}</h1>
  </div>
</div>
