<div class="container">
  <div [hidden]="submitted">
    <h1>Podaj dane firmy</h1>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="name">Login</label>
          <input type="text" class="form-control" id="login" required #login>
        </div>
        <div class="form-group">
          <label for="name">Hasło</label>
          <input type="password" class="form-control" id="password" required #password>
        </div>
        <div class="form-group">
          <label for="name">Powtórz hasło</label>
          <input type="password" class="form-control" id="repeatPassword" required #repeatPassword>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" id="email" required #email>
        </div>
        <div class="form-group">
          <label for="name">Numer telefonu</label>
          <input type="text" class="form-control" id="phone" required #phone>
        </div>
        <div class="form-group">
          <label for="name">Nazwa firmy</label>
          <input type="text" class="form-control" id="name" required #name>
        </div>
        <div class="form-group">
          <label for="name">Opis</label>
          <input type="text" class="form-control" id="description" required #description>
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit(login.value, password.value, repeatPassword.value, email.value, phone.value, name.value, description.value)">Submit</button>
      </form>
    </div>
  </div>
  <div [hidden]="!submitted">
    <h1>Zarejestrowałeś firmę</h1>
    <div class="row">
      <div class="col-xs-3">Login:</div>
      <div class="col-xs-9">{{ login.value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email:</div>
      <div class="col-xs-9">{{ email.value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Numer telefonu:</div>
      <div class="col-xs-9">{{ phone.value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Nazwa firmy:</div>
      <div class="col-xs-9">{{ name.value }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Opis:</div>
      <div class="col-xs-9">{{ description.value }}</div>
    </div>
  </div>
</div>
