<div class="container">
  <nav class="navbar bg-light">
    <a class='navbar-brand' [routerLink]="['/home']">Kajaki</a>
    <div class='navbar-nav'>
      <ul class="navbar-nav">
        <div *ngIf="isLoggedIn">
          <li class="nav-item">
            <a>
              Witaj firmo:
            </a>
          </li>
          <li class="nav-item">
            <a>
              {{firmLogin}}!
            </a>
          </li>
        </div>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/home']">
            Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/login']">
            Login
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/register']">
            Register
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/google-map']">
            Google map
          </a>
        </li>
        <div *ngIf="isLoggedIn">
          <li class="nav-item">
            <a>
              <button type="button" class="btn btn-light" (click)="onClickMe()">Logout</button>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>
